body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
	margin: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #eee;
	color: #444;
	font-family: Verdana, 'Hiragino Sans GB', "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", "Hiragino Sans GB", arial, sans-serif;
	font-size: 14px;
	font-size: 87.5%;
}

input:focus {
	outline: none;
}

a {
	color: #2aabfc;
	text-decoration: none;
}

a:link,
a:visited {
	color: #2aabfc;
}

a:hover,
a:active {
	color: #444;
}

pre,
code {
	font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
	font-size: .92857em;
}

code {
	padding: 2px 4px;
	color: #B94A48;
}

pre {
	padding: 0;
	overflow: auto;
	max-height: 400px;
}

pre code {
	padding: 3px;
	color: #444;
	border-radius: 9px;
	background-color: #f2f2f2 !important;
}

blockquote {
	margin: 1em 1.5em;
	padding-left: 1.5em;
	border-left: 4px solid #F3F3F0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-weight: 500;
}

h5,
h6 {
	font-weight: bold;
	margin-top: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
	padding: 5px;
	border: 1px solid #E9E9E9;
	width: 100%;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
}

.clearfix {
	zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.ct-wrap {
	width: 960px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

#main {
	width: 630px;
	float: left;
}

#side {
	width: 320px;
	float: right;
}

#footer {
	margin-top: 10px;
	padding: 8px 0;
	color: #fff;
	font-size: 12px;
	font-size: .8571em;
}

#footer span {
	margin-right: 10px;
}

.site-name {
	padding: 35px 0 20px;
}

.site-name a {
	color: #fff;
	padding-left: 35px;
}

.site-name p {
	color: #fff;
	padding-left: 100px;
}

#header {
	background-color: rgba(0, 182, 243, .4);
	background-image: url(../img/cbg_2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
	margin-bottom: 20px;
}

#logo {
	font-size: 35px;
	font-size: 2.5em;
}

#logo small {
	font-size: 12px;
	vertical-align: top;
	font-style: italic;
}

.nav-wrap,
#footer {
	background-color: rgba(74, 74, 74, .8);
}

.nav {
	height: 40px;
	-webkit-text-size-adjust: none;
	font-size: 1.14285em;
}

.nav a {
	float: left;
	color: #fff;
	line-height: 40px;
	padding: 0 15px;
	margin-right: 1px;
}

.nav a.current,
.nav a:hover {
	background-color: rgba(0, 182, 243, .8);
}

.site-search {
	float: right;
	position: relative;
	height: 40px;
	padding: 7px 0;
}

.site-search input {
	-webkit-border-radius: 30px;
	border-radius: 30px;
	padding: 0 24px 0 15px;
	height: 26px;
	width: 180px;
}

.site-search button {
	top: 8px;
	right: 7px;
	position: absolute;
	border: none;
	padding: 0;
	width: 24px;
	height: 24px;
	background: transparent url(../img/icon-search.png) no-repeat center center;
	direction: ltr;
	text-indent: -9999em;
}

.post,
.widget,
#comments,
.page-navigator,
.sr-result{
	background-color: #fff;
	margin-top: 10px;
	padding: 10px 15px 10px 15px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
}

#comments .page-navigator {
	box-shadow: 0 0 0;
}

.al-content {
	display: inline-block;
	width: auto;
	background-color: rgba(0, 182, 243, .6);
	color: #fff;
	line-height: 30px;
	padding: 5px 20px;
}

.al-content small {
	margin-left: 30px;
	cursor: pointer;
	vertical-align: 2px;
}

.ad {
	padding: 0;
	font-size: 0;
}

.ad-t {
	margin-top: 10px;
}

#comment-form .required:after {
	content: " *";
	color: #C00;
}

.archive-title span {
	color: #2aabfc;
}

.post-title {
	font-size: 19px;
	font-size: 1.4em;
	line-height: 1.8;
}

.post-content {
	line-height: 1.5;
	margin-top: 10px;
	min-height: 100px;
	height: auto !important;
	vertical-align: 10px;
}

.post-meta {
	color: #999;
	font-size: .92857em;
	text-align: right;
}

.post-meta li {
	display: inline-block;
	margin: 0 3px;
	padding-left: 12px;
	line-height: 22px;
	padding: 4px;
}

.post-all .post-meta {
	text-align: left;
}

.post-content,
.comment-content {
	line-height: 1.72;
	word-wrap: break-word;
}

.post-content h2,
.comment-content h2 {
	font-size: 1.28571em;
}

.post-content img,
.comment-content img,
.post-content video,
.comment-content video {
	max-width: 100%;
}

.post-content a img,
.comment-content a img {
	background: #FFF;
	position: relative;
	bottom: -4px;
}

.post-content hr,
.comment-content hr {
	margin: 2em auto;
	width: 100px;
	border: 1px solid #E9E9E9;
	border-width: 2px 0 0 0;
}

.post-image {
	width: 178px;
	height: 110px;
	display: inline-block;
	background-position: center;
	background-size: cover;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	background-repeat: no-repeat;
}

.post-image:hover {
	border-radius: 10px;
}

.more {}

.tags,
.zz-tips {
	margin-top: 20px;
	color: #999;
}

.zz-tips {
	word-break: break-all;
}

.dianzan {
	text-align: center;
	margin-top: 10px;
}

.btn {
	display: inline-block;
	padding: 0 15px;
	line-height: 25px;
	background-color: rgba(0, 182, 243, .5);
	color: #fff;
	border: none;
	cursor: pointer;
}

.btn:hover,
.submit:hover {
	background-color: #2aabfc;
	color: #fff;
}

.ad img {
	width: 100%;
}

.widget-title {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 182, 243, .6);
}

.widget-list ul {
	margin-left: 20px;
}

.widget-list li {
	line-height: 1.8;
	margin: 5px 0;
}

.tags-list li {
	float: left;
	padding-right: 10px;
}

.youlian li {
	border-bottom: 1px dashed rgba(0, 182, 243, .3);
}

.post-near {
	display: block;
	color: #999;
	margin: 15px -15px -10px -15px;
	padding: 15px;
	background-color: #fbfbfb;
}

.comment-list,
.comment-list ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li {
	padding: 14px;
	margin-top: 10px;
	border: 1px solid #EEE;
}

.comment-list li.comment-level-odd {
	background: #F6F6F3;
}

.comment-list li.comment-level-even {
	background: #FFF;
}

.comment-list li.comment-by-author {
	background: #FFF9E8;
}

.comment-list li .comment-reply {
	text-align: right;
	font-size: .92857em;
}

.comment-meta a {
	color: #999;
	font-size: .92857em;
}

.comment-author {
	display: block;
	margin-bottom: 3px;
	color: #444;
}

.comment-author .avatar {
	float: left;
	margin-right: 10px;
}

.comment-author cite {
	font-weight: bold;
	font-style: normal;
}

.comment-list .respond {
	margin-top: 15px;
	border-top: 1px solid #EEE;
}

.respond .cancel-comment-reply {
	float: right;
	margin-top: 15px;
	font-size: .92857em;
}

#comment-form label {
	display: block;
	margin-bottom: .5em;
	font-weight: bold;
}

#comment-form .required:after {
	content: " *";
	color: #C00;
}

#secondary {
	padding-top: 15px;
	word-wrap: break-word;
	padding-bottom: 30px;
}

.page-navigator {
	list-style: none;
	text-align: center;
}

.page-navigator li {
	display: inline-block;
	margin: 0 4px;
}

.page-navigator a {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background-color: #eee;
	color: #666;
}

.page-navigator a:hover {
	background: #EEE;
	text-decoration: none;
}

.page-navigator .current a {
	color: #fff;
	background-color: rgba(0, 182, 243, .5);
}

.go-top {
	display: none;
	position: fixed;
	bottom: 90px;
	right: 60px;
	width: 40px;
	height: 40px;
	line-height:40px;
	text-align: center;
	font-size: 16px;
	background-color: rgba(0, 182, 243, .4);
	-webkit-user-select: none;
}

.go-top a {
	cursor: pointer;
	color: #fff;
}
.go-top:hover{
	background-color: rgba(0, 182, 243, .8);
}
.tj-ico{
	float: right;margin-top: 3px;text-align: right;
}
@media(max-width:960px) {
	.ct-wrap {
		width: 100%;
	}
	#main {
		width: 100%;
	}
	#side {
		width: 100%;
	}
	.tj-ico{
		float: none;
	}
	#footer .ct-wrap ,.tj-ico{
		text-align: center;
	}
	#footer .ct-wrap span{
		display: block;
	}
}